@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9826 0.0017 67.8027);
  --foreground: oklch(0.4444 0.0096 73.639);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2685 0.0063 34.2976);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2685 0.0063 34.2976);
  --primary: oklch(0.2685 0.0063 34.2976);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9699 0.0013 106.4238);
  --secondary-foreground: oklch(0.2685 0.0063 34.2976);
  --muted: oklch(0.9699 0.0013 106.4238);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --accent: oklch(0.9699 0.0013 106.4238);
  --accent-foreground: oklch(0.2685 0.0063 34.2976);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9232 0.0026 48.7171);
  --input: oklch(0.9232 0.0026 48.7171);
  --ring: oklch(0.7161 0.0091 56.259);
  --chart-1: oklch(0.7686 0.1647 70.0804);
  --chart-2: oklch(0.7681 0.2044 130.8498);
  --chart-3: oklch(0.6231 0.188 259.8145);
  --chart-4: oklch(0.6559 0.2118 354.3084);
  --chart-5: oklch(0.6056 0.2189 292.7172);
  --sidebar: oklch(0.9699 0.0013 106.4238);
  --sidebar-foreground: oklch(0.4444 0.0096 73.639);
  --sidebar-primary: oklch(0.2685 0.0063 34.2976);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.2685 0.0063 34.2976);
  --sidebar-border: oklch(0.9232 0.0026 48.7171);
  --sidebar-ring: oklch(0.7161 0.0091 56.259);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.7161 0.0091 56.259);
  --card: oklch(0.2685 0.0063 34.2976);
  --card-foreground: oklch(0.9232 0.0026 48.7171);
  --popover: oklch(0.2685 0.0063 34.2976);
  --popover-foreground: oklch(0.9232 0.0026 48.7171);
  --primary: oklch(0.9232 0.0026 48.7171);
  --primary-foreground: oklch(0.2161 0.0061 56.0434);
  --secondary: oklch(0.3572 0.0109 84.5929);
  --secondary-foreground: oklch(0.9232 0.0026 48.7171);
  --muted: oklch(0.3572 0.0109 84.5929);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --accent: oklch(0.3572 0.0109 84.5929);
  --accent-foreground: oklch(0.9232 0.0026 48.7171);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(0.9705 0.0129 17.3797);
  --border: oklch(0.3572 0.0109 84.5929);
  --input: oklch(0.3572 0.0109 84.5929);
  --ring: oklch(0.7161 0.0091 56.259);
  --chart-1: oklch(0.8369 0.1644 84.4286);
  --chart-2: oklch(0.8493 0.2073 128.8497);
  --chart-3: oklch(0.7137 0.1434 254.624);
  --chart-4: oklch(0.7253 0.1752 349.7607);
  --chart-5: oklch(0.709 0.1592 293.5412);
  --sidebar: oklch(0.2685 0.0063 34.2976);
  --sidebar-foreground: oklch(0.7161 0.0091 56.259);
  --sidebar-primary: oklch(0.9232 0.0026 48.7171);
  --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-accent: oklch(0.3572 0.0109 84.5929);
  --sidebar-accent-foreground: oklch(0.9232 0.0026 48.7171);
  --sidebar-border: oklch(0.3572 0.0109 84.5929);
  --sidebar-ring: oklch(0.7161 0.0091 56.259);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
